html
	body
		style(type='text/css', media='screen')
		div#chatroom(style="display: block; height: 300px; border: 1px solid #999; width:100%; margin-bottom: 10px; position: relative")
		ul#chat_log(style="list-style: none; position: relative; bottom: 0px")
		input#chat_box(style="width: 100%")
		.blue
			color:blue
		.yellow
			color:yellow
